
@media screen and (max-width: 1200px) {

    :root {
        --tailleFont: 0.8em; 
    }
}


@media screen and (min-width: 1201px){
    :root {
        --tailleFont: 1.2em; 
    }
}



body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: var(--tailleFont);
    background-color: #ebebeb;
    cursor: grab;
}


.blockJeu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.blockATH {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}






#btnStartGame {
    background-color: rgb(176, 176, 176);
    border-radius: 10%;
    width: 100px;
}


.page{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pageJeu {
    display: flex;
    flex-direction: column;
}

.imageFleche {
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
}


#board{
    padding-top: 1em;
}
